body{
    background-color: #050505;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;;
    height: 3000px;
}
.img-container{
    position: relative;
    width: 100%;
    text-align: center;
    height: 100vh; 
}

.texto{
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 55px;
    font-weight: 200;
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.texto p{
    margin: 0;
    margin-top: 3px;
}

.texto2{
    margin: 0px;
    margin-top: 70px;
    width: 320px;
    display: flex;
    flex-direction: column; 
    align-items:start;
}

p.bold{
    font-weight: bold;
}

#paragrafo1 {
    color: #d6d3d3;
    width: 280px;
    font-size: 17px;
    text-align:left; 
    font-weight: 80;
    margin: 0;
    margin-top: 10px;

}

.botao-zap{
    margin-top: 15px;
    padding: 5px 16px;
    background-color: #D1943B;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
}

.quem-somos{
    text-align: left;
    font-size: 18px;
    font-weight: 200;
}

#bold {
    font-weight: bold;
}

.barra-transicao {
    width: calc(100% - 400px);
    margin: 0 auto;
    margin-top: 30px;
    height: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#branco, #laranja, #preto {
    flex: 1; 
    height: 100%; 
}

#branco {
    background-color: #fff;
}

#laranja {
    background-color: #D1943B;
}

#preto {
    background-color: #424242;
}

.paragrafo2{
    width: calc(100% - 400px);
    margin: 0 auto;
    margin-bottom: 60px;
}

.paragrafo2 p{
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}

.galeria {
    width: calc(100% - 400px);
    margin: 0 auto;
    margin-top: 30px;
    display: flex;

}

.galeria> div{
    margin: 7px;
}


.galeria img{
    width: 100%;
    height: 100%;
}